.App {
  text-align: center;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.adminSchoolList {
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 15px 30px;
  padding: 5px 20px;
  cursor: pointer;
}

