@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
  --primary-color: #ff7a59;
  --dark-blue: #1f2a38;
  --form-white:#efefef;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.login-form {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      120deg,
      rgba(132, 250, 176, 0.45),
      rgba(89, 218, 184, 0.45)
    ),
    url('https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=709&amp;q=80')
      no-repeat fixed center;
  background-size: auto 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 500px){
  .login-form {
    padding-top: 50px; 
  }
}

@media (min-width: 501px) and (max-width: 800px){
  .login-form {
    padding: 120px 0 0 0; 
  }
}

.login-form form {
  display: flex;
  flex-flow: column nowrap;
  width: 290px;
  height: 499px;
  margin-top: 50px;
  padding: 50px 35px;
  background-color:#fafafa;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-form form > label {
  align-self: flex-start;
  font-size: 12px;
  margin-bottom: -6px;
  color: #495057;
}

.login-form form > input {
  font-size: 16px;
  margin: 20px 0;
  border: none;
  border-radius: 16px;
  padding: 20px;
  background-color:var(--form-white);
  box-shadow: rgba(131, 228, 167, 0.45) 0px 4px 30px 0px;
}

.userlogo::placeholder {
  font-size: 17px;
  color: #bdbdbd;
}
.passlogo::placeholder {
  font-size: 17px;
  color: #bdbdbd;
}

.login-form 
input:focus, 
.login-form
input:active {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

input [type=text] {
  transition: all 35s ease-in-out;
}



.login-form > form > button {
  border: none;
  margin: 20px 0 0 0;
  padding: 18px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid #ff7a59;
  color: #ffff;
}

.login-form button:hover {
  transition: all 0.4s ease 0s;
  background: rgb(250, 97, 58);
  box-shadow: rgba(255, 122, 89, 0.518) 0px 10px 30px 0px;
  border-radius: 25px;
}

.luncherlogo{
  /* top: 0; */
  margin: 0 auto;
  border: 6px solid #ff7a59;
  border-radius: 50%;
	width: 200px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.luncherlogo img{
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.login-form h1{
  margin: 10px 0 0 0 10px;
  color: #495057;  
}


